.authentication-container {
  display: flex;
  width: 900px;
  margin: 30px auto;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: unset;
    align-items: center;
  }

  & > *:first-child {
    margin-bottom: 50px;
  }
}
